
.makeStyles-completed-75,.makeStyles-active-74{
    background: #1acc8d
}
.makeStyles-active-432{
    background-image: none;
    background: #1acc8d
}
.makeStyles-completed-433{
    background-image: none;
    background: #1acc8d
}

.WithStyles\(ForwardRef\(StepConnector\)\)-active-435 .WithStyles\(ForwardRef\(StepConnector\)\)-line-437 {
    background-image: none;
    border-radius: 1px;
    background-color: #eaeaf0;
}